<p id="notice"><%= notice %></p>

<%= render 'layouts/links', user: @user %>

<br>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Artikel durchsuchen" %>
<%= submit_tag "Suchen" %>
<% end %>

<br><br>

<div class='header' BGCOLOR="FFFFFF">
<%= link_to 'Alle Artikel', articles_path %> ||
<%= link_to 'Neuer Artikel', new_article_path %> ||
</div>

<% if @articles.present? %>
  <%= render "index", articles: @articles %>
<% else %>
  <p>Keine Artiekl gefunden, die den Suchbegriff <%= params[:search] %> beinhalten.</p>
<% end %>
