<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Personen-Gruppe" %>
    <%= f.select :customer_group, ['Kunden','Mitarbeiter', 'Lieferanten'] %>
  </div>

  <p>Bitte Vorname, Nachname und Adresse eintragen, um doppelte Personeneinträge zu verhindern</p>
  <div class="field">
    <%= f.label "Vorname" %>
    <%= f.text_field :customer_name, required: true, autofocus: true, placeholder: "Erforderlich" %>
  </div>

  <div class="field">
    <%= f.label "Nachname" %>
    <%= f.text_field :customer_surname, required: true, placeholder: "Erforderlich" %>
  </div>

  <div class="field">
    <%= f.label "Straße" %>
    <%= f.text_field :customer_street %>
  </div>

  <div class="field">
    <%= f.label "PLZ, Wohnort" %>
    <%= f.text_field :customer_town %>
  </div>

  <div class="field">
    <%= f.label "Telefon" %>
    <%= f.text_field :customer_phone %>
  </div>

    <div class="field">
    <%= f.label "Handynummer" %>
    <%= f.text_field :customer_mobile %>
  </div>

  <div class="field">
    <%= f.label "Fax" %>
    <%= f.text_field :customer_fax %>
  </div>

  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :customer_email %>
  </div>

  <div class="field">
    <%= f.label "Verein" %>
    <%= f.text_field :customer_club %>
  </div>

  <div class="field">
    <%= f.label "Newsletter?" %>
    <%= f.select :customer_newsletter, ['Nein','Ja'] %>
  </div>

 <div class="field">
    <%= f.label "Bemerkungen" %>
    <%= f.text_area :customer_notes, size: "60x10" %>
  </div>

  <div class="actions">
    <%= f.submit "Person erstellen/aktualisieren" %>
  </div>
<% end %>
