<%= form_for(supplier) do |f| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Erforderlich" %>
  </div>

  <div class="field">
    <%= f.label "Homepage" %>
    <%= f.text_field :website %>
  </div>

    <div class="field">
    <%= f.label "Bestellportal B2B" %>
    <%= f.text_field :b2b %>
  </div>

  <div class="field">
    <%= f.label "Bestell Kontakt" %>
    <%= f.collection_select(:order_id, Customer.all.order('customer_surname ASC'), :id, :full_name, :include_blank => "Nicht bekannt") %>
    <%= link_to 'Kontakt nicht gelistet?', new_customer_path %>
  </div> 

  <div class="field">
    <%= f.label "Innendienst Kontakt" %>
    <%= f.collection_select(:internal_id, Customer.all.order('customer_surname ASC'), :id, :full_name, :include_blank => "Nicht bekannt") %>
    <%= link_to 'Kontakt nicht gelistet?', new_customer_path %>
  </div> 

    <div class="field">
    <%= f.label "Service Kontakt" %>
    <%= f.collection_select(:service_id, Customer.all.order('customer_surname ASC'), :id, :full_name, :include_blank => "Nicht bekannt") %> 
    <%= link_to 'Kontakt nicht gelistet?', new_customer_path %>
  </div> 

    <div class="field">
    <%= f.label "Außendienst Kontakt" %>
    <%= f.collection_select(:external_id, Customer.all.order('customer_surname ASC'), :id, :full_name, :include_blank => "Nicht bekannt") %>
    <%= link_to 'Kontakt nicht gelistet?', new_customer_path %>
  </div> 

  <div class="field">
    <%= f.label "Reklamationsvorgehen" %>
    <%= f.text_area :repair_condition %>
  </div>

    <div class="field">
    <%= f.label "Vororderdatum" %>
    <%= f.date_select :preorder_date %>
  </div>

  <div class="field">
    <%= f.label "Vororderbedingungen" %>
    <%= f.text_area :preorder_cond %>
  </div>


  <div class="field">
    <%= f.label "Zahlungsbedingungen" %>
    <%= f.text_area :payment_cond %>
  </div>

  <div class="field">
    <%= f.label "Nachorderbedingungen" %>
    <%= f.text_area :reorder_cond %>
  </div>

  <div class="field">
    <%= f.label "Lieferbedingungen" %>
    <%= f.text_area :delilver_cond %>
  </div>



  <div class="actions">
    <%= f.submit "Lieferanten erstellen / aktualisieren" %>
  </div>
<% end %>
