<p id="notice"><%= notice %></p>

<%= render 'layouts/links', user: @user %>

<br>

<%= form_tag(suppliers_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Hersteller durchsuchen" %>
<%= submit_tag "Suchen" %>
<% end %>

<br><br>

<%= link_to 'Alle Lieferanten', new_supplier_path %> ||
<%= link_to 'Neuer Lieferant', new_supplier_path %> ||


<% if @suppliers.present? %>
  <%= render "index", suppliers: @suppliers %>
<% else %>
  <p>Keine Hersteller gefunden, die den Suchbegriff <%= params[:search] %> beinhalten.</p>
<% end %>







