<p id="notice"><%= notice %></p>

<%= render 'layouts/links', user: @user %>

<br>

<%= form_tag(receipts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Vorgangsarten durchsuchen" %>
<%= submit_tag "Suchen" %>
<% end %>

<br><br>

<%= link_to 'Alle Vorgänge', receipts_path %> ||
<%= link_to 'Bestellungen', receipts_path(type: "Bestellung") %> ||
<%= link_to 'Reparaturen', receipts_path(type: "Reparatur") %> ||
<%= link_to 'Reklamationen', receipts_path(type: "Reklamation") %> ||

<br><br>

<%= link_to 'Aktive Vorgänge', receipts_path(state: "active_receipt") %> |||
<%= link_to 'Erledigte Vorgänge', receipts_path(state: "inactive_receipt") %> |||

<% if @receipts.present? %>
<%= render 'index', receipts: @receipts %>
<% else %>
  <p>Keine Vorgangsarten gefunden, die den Suchbegriff <%= params[:search] %> beinhalten.</p>
<% end %>

