<!DOCTYPE html>
<html>
  <head>
    <title>TerraC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($(window).scrollTop() > 199) {
                $(".header").addClass("fixed");
                $('#header_placeholder').css({display: 'block'});
            } else {
                $(".header").removeClass("fixed");
                $('#header_placeholder').css({display: 'none'});
            }
        });
    </script>
    <style type="text/css">
        .fixed {
        position:fixed;
        width:100%;
        top:0;
        left:100;  
        background-color: white      
    }
    </style>

  </head>

<div class="text-right", id="user_header">
<img src="/assets/large/logo.png", width="100" align="left"></img>
<br>
<% if current_user %>
  Eingeloggt als:
  <%= current_user.email %> |
  <%= link_to 'Startseite', root_path %> |
  <%= link_to 'Ausloggen', logout_path %>
<% else %>
  <%= link_to "Einloggen", login_path %>
<% end %>
</div>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div style="color:#D3D3D3">
      <br><br><br><br>
      Entwickelt von 
      <%= link_to 'Simon Schneider', customer_path(9) %> (2017)
    </div>
  </footer>
</html>



